In [1]:
"""
Esmé Middaugh
2019JAN15

This notebook merges the yearly CDC prescription data into one csv, combining the separate files for 2006 through 2016
into one and appending a column with the appropriate year. 
"""

'\nEsmé Middaugh\n2019JAN15\nThis notebook merges the yearly CDC prescription data into one csv, combining the separate files for 2006 through 2016\ninto one and appending a column with the appropriate year. \n'

In [2]:
import os
import pandas as pd

In [3]:

merged_df = pd.DataFrame(columns=['State','State.ABBR','Prescribing.Rate', 'Year'])
print(merged_df)

folder = '../data/2006_2016_prescription_data/' # This assumes you are in 'code' and 'data' is another file within parent directory
for fname in os.listdir(folder):
    file_address = folder + fname
    with open(file_address) as f:
        if fname.endswith('.csv'): #Each file name is just the given year, so we can use this to create the column. Getting rid of .csv
            year = fname[:-4]
        year_df = pd.read_csv(f, usecols=['State','State.ABBR','X' + year + '.Prescribing.Rate']) #Getting the useful columns. Year changes for each file 
        year_df.columns = ['State','State.ABBR','Prescribing.Rate']
        year_df['Year'] = year #Creating new column with the year of the invdividual file; changes depending on file 
        merged_df = merged_df.append(year_df)
        print(year_df.columns.values)

Empty DataFrame
Columns: [State, State.ABBR, Prescribing.Rate, Year]
Index: []
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']
['State' 'State.ABBR' 'Prescribing.Rate' 'Year']

In [4]:
merged_df.info()
merged_df.describe()

"""
Basic Stats: 
<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 50
Data columns (total 4 columns):
State               561 non-null object
State.ABBR          561 non-null object
Prescribing.Rate    561 non-null float64
Year                561 non-null object
dtypes: float64(1), object(3)
memory usage: 21.9+ KB


4 columns, 561 rows. Year ranges from 2006 to 2016. 
There are 561 rows because each year contains the data on the 51 states; 11 years times 51 states = 561
The stats on the prescription rates are:


Prescribing.Rate
count	561.000000
mean	80.958824
std	22.991621
min	31.700000
25%	64.300000
50%	79.700000
75%	93.100000
max	146.900000

"""

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 50
Data columns (total 4 columns):
State               561 non-null object
State.ABBR          561 non-null object
Prescribing.Rate    561 non-null float64
Year                561 non-null object
dtypes: float64(1), object(3)
memory usage: 21.9+ KB

"\nBasic Stats: \n<class 'pandas.core.frame.DataFrame'>\nInt64Index: 561 entries, 0 to 50\nData columns (total 4 columns):\nState               561 non-null object\nState.ABBR          561 non-null object\nPrescribing.Rate    561 non-null float64\nYear                561 non-null object\ndtypes: float64(1), object(3)\nmemory usage: 21.9+ KB\n\n\n4 columns, 561 rows. Year ranges from 2006 to 2016. \nThere are 561 rows because each year contains the data on the 51 states; 11 years times 51 states = 561\nThe stats on the prescription rates are:\n\n\nPrescribing.Rate\ncount\t561.000000\nmean\t80.958824\nstd\t22.991621\nmin\t31.700000\n25%\t64.300000\n50%\t79.700000\n75%\t93.100000\nmax\t146.900000\n\n"

In [5]:
## Write the merged prescription dataframe back to a csv
merged_df.to_csv('../data/merged_cdc_prescription_2006_2016.csv')

In [6]:
merged_df.head()

        State State.ABBR  Prescribing.Rate  Year
0     Alabama         AL             115.6  2006
1      Alaska         AK              63.4  2006
2     Arizona         AZ              74.3  2006
3    Arkansas         AR              98.3  2006
4  California         CA              51.0  2006